<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<body>

<!-- Header -->
      <header id="header" class="alt">
        <h1><strong><a href="index.html">ASEGURADORA RURAL</a></strong></h1>
      </header>

      <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Banner -->
      <section id="banner">
        <h2>COTIZADOR MI CARRO SEGURO</h2>
        
        <!--
          <form action="/action_page.php">
              <p>Usuario:</p>
              <input type="text" name="Usuario" value="Willie_asrural">
              <p>Contrasena:</p>
              <input type="text" name="Contraseña" value="">
              <input type="submit" value="Ingresar">
          </form> 
        -->


        <ul class="actions">
          <li><a href="/admin" class="button special big">Ingresar</a></li>
        </ul>       
      </section>



</body>
</html>